<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.cinema.repository.ReviewRepository">

    <resultMap id="reviewResult" type="Review">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="image" column="image" />
        <result property="view" column="view" />
        <result property="memberId" column="member_id" />
        <result property="movieId" column="movie_id" />
        <result property="reportingDate" column="reporting_date" />
        <association property="member" column="member_id" javaType="Member">
            <id property="id" column="member_id" />
            <result property="name" column="name" />
        </association>
        <association property="movie" column="movie_id" javaType="Movie">
            <id property="id" column="movie_id" />
            <result property="title" column="movie_title" />
        </association>
    </resultMap>

    <select id="findAll" resultType="Review" resultMap="reviewResult">
        select review.*, member.id as member_id, member.name, movie.id as movie_id, movie.title as movie_title
        from review inner join member on review.member_id = member.id
                    inner join movie on review.movie_id = movie.id
    </select>

    <select id="findById" parameterType="Review" resultType="Review" resultMap="reviewResult">
        select review.*, member.id as member_id, member.name, movie.id as movie_id, movie.title as movie_title
        from review inner join member on review.member_id = member.id
                    inner join movie on review.movie_id = movie.id
        where review.id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Review">
        insert into review(movie_id, member_id, title, content, image)
        values (#{movieId}, #{memberId}, #{title}, #{content}, #{image})
    </insert>

    <update id="update" parameterType="Review">
        update review
        set movie_id=${movieId}, member_id=#{memberId}, title=#{title}, content=#{content}, image=#{image}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Review">
        delete from review where id = #{id}
    </delete>
</mapper>
