<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.induk.cinema.repository.SeatRepository">
<resultMap id="resultSeat" type="com.induk.cinema.domain.Seat">
    <id property="id" column="id"/>
    <result property="number" column="number"/>
    <result property="schedule_id" column="schedule_id"/>
    <result property="reservation_id" column="reservation_id"/>
    <association property="seatTheater" javaType="com.induk.cinema.dto.SeatTheater">
        <result property="theaterName" column="theaterName"/>
        <result property="cinemaName" column="cinemaName"/>
        <result property="theater_id" column="theater_id"/>
    </association>
</resultMap>
    <resultMap id="resultTheater" type="com.induk.cinema.domain.Theater">
        <id property="id" column="id"/>
        <result property="cinema_id" column="cinema_id"/>
        <result property="name" column="name"/>
        <result property="seat_count" column="seat_count"/>
        <association property="theaterCinema" javaType="com.induk.cinema.dto.TheaterCinema">
            <result property="cinemaName" column="cinemaName"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="resultSeat">
        select seat.*, theater.name as theaterName from seat left join theater on seat.theater_id = theater.id
    </select>

    <select id="findTheater" resultMap="resultTheater">
        select theater.*, cinema.name as cinemaName from theater left join cinema on cinema.id = theater.cinema_id
    </select>

    <select id="findSeatByTheaterId" resultMap="resultSeat">
        select seat.*, theater.name as theaterName, cinema.name as cinemaName from seat
        left join schedule on schedule.id = seat.schedule_id left join theater on schedule.theater_id = theater.id left join cinema on cinema.id = theater.cinema_id
         where schedule.theater_id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.induk.cinema.domain.Seat">
        insert into seat(number, schedule_id, reservation_id)
        values (#{number}, #{schedule_id}, #{reservation_id})
    </insert>

    <select id="findById" parameterType="Long" resultMap="resultSeat">
        select seat.*, theater.name as theaterName, theater.id as theater_id, cinema.name as cinemaName from seat
        left join schedule on schedule.id = seat.schedule_id left join theater on schedule.theater_id = theater.id left join cinema on cinema.id = theater.cinema_id
         where seat.id = #{id}
    </select>

    <select id="findByTheaterId" parameterType="Long" resultType="String">
        select name from theater where id = #{id}
    </select>

    <update id="update" parameterType="Seat">
        update seat
        set number=#{number}, schedule_id=#{schedule_id}, reservation_id=#{reservation_id}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from seat where id = #{id}
    </delete>
</mapper>
